body{
    align-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: darkcyan;
}

#container{
    align-content: center;
}

.card-panel{
    min-width: 450px;
    text-align: center;
}

option{
    width: 60%;
}

.left_side{

}

.container{
    width: 100%;
}
