body{
     align-content: center;
     padding-left: 2%;
     padding-right: 2%;
     padding-top: 20px;
     padding-bottom: 20px;
     background-color: darkcyan;
 }

#container_select{
    float: left;
    height: 98%;
    overflow-y:scroll;
    width: 60%;
}

#container_selected{
    float: right;
    width: 35%;
}

.card-panel{
    min-width: 450px;


}
option{
    width: 60%;
}

.responsive-table{
}
td{
    padding-bottom: 1px;
}