body{
    align-content: center;
    padding-left: 33%;
    padding-right: 33%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: darkcyan;
}

#container{
    align-content: center;
}

.card-panel{
    min-width: 450px;
    text-align: center;
}

option{
    width: 60%;
}
